.title {
  font-weight: 600;
  text-align: left;
}
.rating {
  font-weight: normal;
}
.attendance {
  display: flex;
  border: 1px solid #181818;
  background-color: #1F1F1F;
  border-radius: 4px;
  padding: 6px 0;
  width: 42px;
  justify-content: center;
  align-content: space-between;
}

@keyframes busy {
  0% {
    background-color: #8F2020;
  }
  50% {
    background-color: #b01c1c;
  }
  100% {
    background-color: #8F2020;
  }
}