.showing {
  padding: 8px;
  border-bottom: 1px solid #181818;
  display: flex;
  flex-direction: row;
  margin: 2px 0;
  justify-content: space-between;
  /* border: 1px solid #181818; */
  /* margin-bottom: 8px; */
}
.showing.faded {
  opacity: 0.4;
}
.showing.busy {
  background-color: #8F2020;
  animation: busy 1s infinite;
}
.showing .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 8px 0 0;
}
.showing .right {
  display: flex;
  align-items: center;
}
.title {
  font-weight: 600;
  text-align: left;
}
.rating {
  font-weight: normal;
}
.attendance {
  display: flex;
  border: 1px solid #181818;
  background-color: #1F1F1F;
  border-radius: 4px;
  padding: 6px 0;
  width: 42px;
  justify-content: center;
}

@keyframes busy {
  0% {
    background-color: #8F2020;
  }
  50% {
    background-color: #b01c1c;
  }
  100% {
    background-color: #8F2020;
  }
}