:root {
  background-color: #0A0A0A;
  color: #FFFFFF;
  font-family: Inter;
  margin-top: 12px;
}
body {
  margin: 0 16px;
}

.flex-hoz {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bold {
  font-weight: bold;
}


.viewSelectionContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 38px;
}
.selection {
  padding: 6px 0;
  cursor: pointer;
  flex: 1;
  border-radius: 2px;
}
.selection.active {
  background-color: #1F1F1F;
  font-weight: bold;
}


h2 {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
h3 {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 4px 0;
}


.App {
  text-align: center;
}