:root {
  background-color: #0A0A0A;
  color: #FFFFFF;
  font-family: Inter;
  margin-top: 12px;
}
body {
  margin: 0 16px;
}
h2 {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
h3 {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 4px 0;
}


.App {
  text-align: center;
}
.flex-hoz {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bold {
  font-weight: bold;
}
.sml {
  font-size: 12px;
}
.text-left {
  text-align: left;
}

span {
  font-size: 16px;
}

.statusMessage {
  overflow: hidden;
  display: grid;
  height: 0;

  /* animate both fadeIn and flash: */
  animation: fadeIn 1s ease-in forwards, flash 1s ease-in infinite;
}
.statusMessage.noFlash {
  animation: fadeIn 1s ease-in forwards;
}

.viewSelectionContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 38px;
  margin-bottom: 16px;
  /* font-size: 1.6vh; */
}
.selection {
  padding: 6px 0;
  cursor: pointer;
  flex: 1;
  border-radius: 2px;
}
.selection.active {
  background-color: #1F1F1F;
  font-weight: 600;
}



.listItem {
  padding: 8px;
  border-bottom: 1px solid #181818;
  display: flex;
  flex-direction: row;
  margin: 2px 0;
  justify-content: space-between;
  /* border: 1px solid #181818; */
  /* margin-bottom: 8px; */
}
.listItem.vert-center {
  align-items: center;
}
.listItem.faded {
  opacity: 0.4;
}
.listItem.busy {
  background-color: #8F2020;
  animation: busy 1s infinite;
}
.listItem .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 8px 0 0;
}
.listItem .right {
  display: flex;
  align-items: center;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
    height: 0;
  }
  50% {
    opacity: 0;
    height: 0;
  }
  51% {
    height: 30px;
  }
  100% {
    opacity: 1;
    height: 30px;
  }
}

@keyframes flash {
  0% {
    color: #ffffff;
  }
  50% {
    color: #686868;
  }
  100% {
    color: #ffffff;
  }
}